<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Counter app!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <h1 style="text-align:center; font-size:72px">{{ counter }}</h1>
    <p>{{ message }}</p>
    <ion-button
      color="primary"
      expand="block"
      fill="outline"
      (click)="incrementPressed()"
      >Increment</ion-button
    >
    <ion-button color="warning" expand="block" (click)="decrementPressed()"
      >Decrement</ion-button
    >
    <ion-button color="danger" expand="block" (click)="resetPressed()"
      >Reset</ion-button
    >
    <ion-button color="medium" expand="block" (click)="showAlertPressed()"
      >Show Alert</ion-button
    >
    <ion-button
      color="success"
      expand="block"
      (click)="showActionSheetPressed()"
      >Show Action Sheet</ion-button
    >
  </div>
</ion-content>
